// FONT
$default-font-size: 1.6rem;

// COLOR
$color-primary: #051D3B;

$color-secondary: #5081FB;

$color-secondary-light: #7BA4FC;
$color-secondary-light-2: #96B9FD;

$color-tertiary: #ededff;
$color-white: #fff;
$color-black: #000;


// BORDER-RADIUS
$border-radius-small: 8px;
$border-radius-medium: 15px;
$border-radius-large: 50px;