<header class = "header">
    <div class = "header__logo-box">
        <img src="../../../../assets/logo/Logo@3x.png" alt="Logo Alura DEV" class = "header__logo">
    </div>

    <div class = "header__input-box">
        <input type="text" placeholder="Busque por algo" class = "header__input">
    </div>

    <div class = "header__user-box">
        <img src="../../../../assets/user/Photo@3x.png" alt="Imagem Usuário" class = "header__user-img">
        <p class = "header__user-name">Harry</p>
    </div>
</header>
